@model Application.ViewModel.LoanResultViewModel
@{
    ViewData["Title"] = "TotalToPay";
}

<h1>@Model.Name</h1>
<h1>@Model.Amount</h1>
<h1>@Model.InterestRate</h1>
<h1>@Model.Month</h1>
<h1>@Model.Total.ToString("n2")</h1>

